@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

html{

    background-color: #F9FAFB;
    color: #2C2A2C;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

form{

    height: 95vh;
    display: flex;
    flex-direction: row;
    background-color: #F9FAFB;
    border-radius: 1em;
    margin-left: 25vw;

}

img{

    height: 105vh;
    width: auto;
    display: block;
    margin: 0px;
    position: fixed;
    left: 0;
    top: 0;

}

form .container{

    padding: 2em;

}

form h1{

    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 0px;

}

form h2{

    font-size: 20px;
    font-weight: 500;

}

.input-container{

    /* margin-top: 2em; */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 500px;

}

.input-container label{

    font-size: 0.6em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.500);
}

.input-div {

    display: flex;
    flex-direction: column;

}

.input-container input{

    border: 1px solid rgba(226, 226, 226, 0.582);
    border-radius: .25em;
    padding: 0.25em;

}